.body {
	margin: 0;
}
.social {
	margin: 0 auto;
	width: 500px;
	text-align: center;
	padding: 50px;
}
h2 {
	color: #505050;
	font-size: 40px;
}
.icon-btn {
	height: 75px;
	width: 75px;
	border: 0;
	background: #FFF;
	border-radius: 50%;
	margin: 0;
	cursor: pointer;
	font-size: 40px;
	height: 75px;
}
.twitter {
	color: #4099FF;
}
.facebook {
	color: #3B5998;
}
.google-plus {
	color: #DB5A3C;
}
.instagram {
	color: #5C3D2E;
}
.github {
	color: #4183C4;
}
.icon-btn:hover {
	transform: scale(1.10);
	transition: .5s;
}
.twitter:hover {
	background: #4099FF;
	color: #FFF;
}
.facebook:hover {
	background: #3B5998;
	color: #FFF;
}
.google-plus:hover {
	background: #DB5A3C;
	color: #FFF;
}
.instagram:hover {
	background: #5C3D2E;
	color: #FFF;
}
.github:hover {
	background: #4183C4;
	color: #FFF;
}
.container {
	margin: 0 auto;
	max-width: 700px;
	width: auto;
	height: auto;
	background: #CCCCCB;
}